.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)); /* Responsive columns */
    overflow-x: scroll;
    row-gap: 20px;
    margin: 20px;
}

.card-images {
    width: 250px;
    height: auto;
}