.resume {
  font-family: Arial, sans-serif;
  padding: 20px;
  min-height: 100vh;
  overflow-y: auto;
  background-color: black;
  color: white; /* Set text color to white */
}

.resume h1, .resume h2, .resume h3 {
  color: white; /* Ensure headings are also white */
}

.resume ul {
  list-style-type: disc;
  margin-left: 20px;
  color: white; /* Ensure list items are white */
}

.resume a {
  color: lightgray; /* Or another light color for links */
  text-decoration: none;
}

.resume a:hover {
  text-decoration: underline;
}

.header {
  /* ... your existing header styles ... */
  padding-bottom: 20px; /* Add space below the header */
}

.summary {
  /* ... your existing summary styles ... */
  padding-top: 20px; /* add space above the summary if you want to also*/
  
}

.summary p {
  /* ... your existing summary styles ... */
  padding-top: 30px; /* add space above the summary if you want to also*/
  
}

p { 
  padding-bottom: 20px;
}

.header p {
  padding-top: 10px; /* Adjust the value as needed */
}

.header h1 {
  margin-bottom: 10px; /* Adjust the value as needed */
}

li { 
  padding-bottom: 20px;
}